<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>klStringUtilities-Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>klStringUtilities-TVDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>klStringUtilities-iOSTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>klStringUtilities-tvOSTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93071F9F1ED749B3008009C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>939D035C1EDA65CC00FABB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>939D036E1EDBE1C400FABB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>939D03801EDBE4DF00FABB4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
